body {
	text-align: center;
	background-color: #F5F5F5;
}

h3 {
	color: #1b1c1c;
	font-family: 'Montserrat';
	font-size: 27px;
}

img.pfp {
	width: 140px;
	border-radius: 100px;
}

a {
	background: #232323;
	padding: 20px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	width: 450px;
	color: white;
	font-family: 'Montserrat';
	font-size: 17px;
	border: 1px solid #1f1f1f;
	display: inline-block;
	border-radius: 2rem;

}

a:hover {
	background: #F5F5F5;
	color: #1b1c1c;
	transition: 0.3s;
}

p {
	padding: 15px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	width: 200px;
	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	border-bottom: 4px solid red;
	margin: 1rem auto;

}
